h1 {
    color: #910e3a;
}
center div {
    margin-bottom: 1em;
    min-width: 15rem;
}
button {
    color: white;
    padding: 12px;
    background-color: #910e3a;
    border-radius: 2rem;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
}
button:hover {
    color: #910e3a;
    background-color: #eee;
}
button:active {
    outline: thick double black;
}
